.sumo-pp-component--disabled{opacity:.6}
.sumo-pp-order-paymentplan-future-payments-panel .wc-block-components-totals-item__value{width: 50%;font-weight: normal;white-space: normal;}
.sumo-pp-order-paymentplan-future-payments-panel .wc-block-components-totals-item__label{width: 50%;font-weight: 600;}
